svg {
  box-shadow: inset 0px 0px 40px 40px #fff;
}

svg.graphs_r_d3graph .node circle {
  /*fill: #999;*/
}

svg.graphs_r_d3graph .node text {
  font: 0.5em "Open Sans", Georgia, "Times New Roman", "DejaVu Serif", serif;
  font-weight: normal;
}

svg.graphs_r_d3graph .node circle {
  fill: #800;
}

svg.graphs_r_d3graph .node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

svg.graphs_r_d3graph .link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.node--leaf circle {
  /*fill: #fff;*/
}

.node--internal circle {
//*  fill: lightsteelblue;*/
}

.node--internal {
  cursor: pointer;
}